#home-features {
  display: block;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#feature-1 {
  height: 300px;
  width: 400px;
  display: inline-block;
  margin: 0 5em 0 5em;
}

#feature-2 {
  height: 300px;
  width: 400px;
  display: inline-block;
  margin: 0 5em 0 5em;
}

#feature-3 {
  height: 300px;
  width: 400px;
  display: inline-block;
  margin: 0 5em 0 5em;
}