.svg {
  width: 50px;
}

.container {
  z-index: 5;
  position: fixed;
  background-color: white;
  height: 4rem;
  width: 100vw;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(225, 225, 225);
}

.name {
  font-size: 1.7rem;
  font-weight: 600;
}

.containerLeft,
.containerRight {
  gap: .5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.containerLeft:hover {
  opacity: .75;
}

.github span {
  gap: 5px
}

.github div {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 550px) {
  .name {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .container {
    padding: 0 1rem;
  }
}